<div class="container" ng-controller="testCtrl">
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-12" >
      <form class="border-class1">
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-12 col-lg-12 bordered" style="font-size:12px;">

            <div class="row" style="margin-top:40px">
              <div class="col-xs-6">
                <div class="form-group">
                  <select  style="color:white;background-color:black;">
                    <option value="">--select Vehicle model--</option>
                    <option ng-repeat="x in VehicleModel">{{ x.Name }}</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="form-group">
                  <select style="color:white;background-color:black;" ng-model="option1" ng-change="getOption2()">
                    <option value="">--select state--</option>
                    <option ng-repeat="x in State">{{ x.Name }}</option>
                  </select>
                </div>
              </div>
            </div>

           </div>
          </div>
        </form>
      </div>
    </div>
  </div>
